body{
  margin:0;
  overflow: hidden;
  font-family: Gill Sans;
}
.tooltip{
  position:absolute;
  z-index:10;
  visibility:hidden;
  background: yellow;
  padding: 12px;
}
.st1{fill:#F7C059;}
.st2{fill:#FFFFFF;}
.st3{fill:#4A96CD;}
.st4{fill:#D20024;}
