.land
  max-width 900px
  margin auto
.att
  display flex
  flex-wrap wrap
  margin-left 5%
  .at
    margin 20px
    p
      width 120px
    img
      width 120px
.block
  width 100vw
  h2
    margin-left 5%
    margin-top 10%
.top
  overflow hidden
  text-align center
  h1
    letter-spacing 12px
    font-size 3em
    z-index 10
    margin-top 20%
  p
     width 60%
     margin-left 20%
     z-index 10
  img
    width 160px
    display inline-block
.sh
  h2
    margin-left 5%
    margin-top 10%
  ul
    display flex
    flex-wrap wrap
  li
    display inline-block
    padding 20px
    display flex
    width 410px
    .desc
      font-size .8em
      width 280px
      margin-left 10px
      position relative
      bottom 10px
    img
      width 120px
      border-radius 120px
    .name
      width 120px
.two
  background darken(white,3%)
  h2
    margin-left 5%
    margin-top 10%
  p
    width 80%
    margin-left 5%
    padding-top 25px
  a
    width 80%
    margin-left 5%
    text-decoration none
    padding 12px
    background lightgreen
    border-radius 18px
    margin-bottom 100px
.mapid
  width 90vw
  max-width 810px
  height 200px
  background #eee
  margin-left 5%
  margin-bottom 20px
